  
 header{
 	background : purple;
 }
 	  
 	nav Li { 
 	display: inline;
 }

p{text-align: center; font-size: 25px;
}
	h1{text-align: center;
		color: purple; font-size: 55px;
	}
strong{color: blueviolet;}
